/***** Universal Selectors *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 5%;
    font-family: 'Overpass', sans-serif;
}


/***** MOBILE FIRST - Landscape orientation Selectors *****/

@media (orientation: landscape) {
    .container {
        display: flex;
        flex-direction: column;
        gap: calc(2% + 1vh);
        background-color: hsl(213, 19%, 18%);
        padding: 5%;
        border-radius: 5%;
        width: calc(40vw + 1vh);
        height: calc(90vh + 1vh);
    }

    .container-ordered-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8%;
        margin: 8%;
        text-align: center;
    }

    .star-icon {
        background-color: hsl(212, 14%, 22%);
        border-radius: 100%;
        padding: 4%;
    }

    .h1-how-did-we-do {
        color: hsl(0, 0%, 100%);
        font-weight: 700;
    }

    .p-please-let-us {
        color: hsl(217, 12%, 63%);
        font-weight: 700;
        font-size: 12px;
        line-height: 1.75;
    }

    .list-items {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        color: hsl(216, 12%, 54%);
        font-weight: 700;
        background-color: hsl(212, 14%, 22%);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding: 7%;
        cursor: pointer;
    }

    .list-items:hover {
        background-color: hsl(217, 12%, 63%);
        color: hsl(0, 0%, 100%);
    }

    .list-items.selected {
        background-color: hsl(25, 97%, 53%);
        color: hsl(0, 0%, 100%);
    }

    .button-submit {
        background-color: hsl(25, 97%, 53%);
        width: 100%;
        padding: 5%;
        color: hsl(0, 0%, 100%);
        font-weight: 400;
        border-radius: 50vw;
        border: none;
        transition: background-color 0.1s ease-in;
    }

    .button-submit:active {
        background-color: hsl(0, 0%, 100%);
        color: transparent;
    }
}

/***** MOBILE FIRST - Portrait orientation Selectors *****/
@media (orientation: portrait) {
    .container {
        display: flex;
        flex-direction: column;
        gap: calc(5vh + 1vh);
        background-color: hsl(213, 19%, 18%);
        padding: 5%;
        border-radius: 5%;
    }

    .container-ordered-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        text-align: center;
    }

    .star-icon {
        background-color: hsl(212, 14%, 22%);
        border-radius: 100%;
        padding: 4%;
    }

    .h1-how-did-we-do {
        color: hsl(0, 0%, 100%);
        font-weight: 700;
    }

    .p-please-let-us {
        color: hsl(217, 12%, 63%);
        font-weight: 700;
        font-size: 12px;
        line-height: 1.75;
    }

    .list-items {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        color: hsl(216, 12%, 54%);
        font-weight: 700;
        background-color: hsl(212, 14%, 22%);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding: 7%;
        cursor: pointer;
    }

    .list-items:hover {
        background-color: hsl(217, 12%, 63%);
        color: hsl(0, 0%, 100%);
    }

    .list-items.selected {
        background-color: hsl(25, 97%, 53%);
        color: hsl(0, 0%, 100%);
    }

    .button-submit {
        background-color: hsl(25, 97%, 53%);
        width: 100%;
        padding: 5%;
        color: hsl(0, 0%, 100%);
        font-weight: 400;
        border-radius: 50vw;
        border: none;
        transition: background-color 0.1s ease-in;
    }

    .button-submit:active {
        background-color: hsl(0, 0%, 100%);
        color: transparent;
    }
}

/***** DESKTOP  *****/

@media (min-width: 320px) and (max-width: 421px) {
    .container {
        height: 50vh;
        width: 80vw;
        gap: 5vh;
    }
}

@media (min-width: 422px) and (max-width: 550px) {
    .container {
        height: 50vh;
        width: 80vw;
        gap: 3vh;
    }
}

@media (min-width: 551px) and (max-width: 650px) {
    .container {
        height: 50vh;
        width: 80vw;
        gap: 3vh;
    }
}

@media (min-width: 651px) and (max-width: 700px) {
    .container {
        height: 50vh;
        width: 80vw;
        gap: 3vh;
    }
}

@media (min-width: 701px) and (max-width: 800px) {
    .container {
        height: 60vh;
        width: 70vw;
        gap: 5vh;
    }
}

@media (min-width: 801px) and (max-width: 900px) {
    .container {
        height: 60vh;
        width: 60vw;
        gap: 5vh;
    }
}

@media (min-width: 932px) and (max-width: 1200px) {
    .container {
        height: 50vh;
        width: 35vw;
        gap: 2vh;
    }
}

@media (min-width: 1201px) and (max-width: 1300px) {
    .container {
        height: 50vh;
        width: 35vw;
        gap: 2vh;
    }
}

@media (min-width: 1301px) and (max-width: 1400px) {
    .container {
        height: 50vh;
        width: 35vw;
        gap: 2vh;
    }
}

@media (min-width: 1401px) and (max-width: 1500px) {
    .container {
        height: 50vh;
        width: 35vw;
        gap: 2vh;
    }
}

@media (min-width: 1501px) and (max-width: 1600px) {
    .container {
        height: 50vh;
        width: 25vw;
        gap: 2vh;
    }
}

@media (min-width: 1601px) and (max-width: 1700px) {
    .container {
        height: 50vh;
        width: 25vw;
        gap: 2vh;
        padding: 3%;
    }
}